h2 {
  font-family: "Crimson Text", serif;
  font-size: 24px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #212529c0;
}

.main__nosotras {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin: 20px 15vw 20px 15vw;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 14vh 4vw 14vh 5vw;
  }
}

.main__nosotras-h2 {
  text-align: center;
  @media (min-width: 768px) {
    grid-column: span 5;
  }
}

.main__nosotras-h2text {
  @media (min-width: 768px) {
    font-size: 40px;
  }
}
.main__nosotras-div {
  box-shadow: 6px 8px 24px rgba(0, 0, 0, 0.25);
  height: 50vh;
  width: 70vw;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main__nosotras img {
  max-width: 200px;
}
