.main__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  gap: 5px;
  padding-left: 6%;
}

.Tittle {
  font-family: Crimson text;
  font-size: 30px;
}

.p {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #333;
}

.form {
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.nombre,
.email,
.Mensaje {
  width: 300%;
  height: 20px;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #eee;
}

.Mensaje {
  height: 50px;
  resize: none;
  border-radius: 10px;
}

.Submit {
  background-color: #212529;
  color: white;
  border: solid black 1px;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 300%;
}

.map {
  display: flex;
  width: 45%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .p {
    display: none;
  }

  .map {
    margin: 12px 12px 0 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .nombre,
  .email,
  .Mensaje,
  .Submit {
    width: 100%;
  }
}
