$cabecera-bg: #74c69d;
$padding-general: 4%;
$white: white;
$black: black;

.cabecera {
  background-color: $cabecera-bg;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: $padding-general;
    align-items: center;

    .header_logo {
      max-width: 50%;
      margin-left: 5%;
    }

    .header_icon {
      img {
        display: none;
        width: 30px;
      }
    }

    .header_desktop_menu {
      margin-left: auto;

      ul {
        list-style-type: none;
        color: $white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
        padding: $padding-general;
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;

    .header_img-container {
      width: 100%;

      .header_img {
        padding: $padding-general;
        width: 100%;
        display: block;
      }
    }

    > div {
      .header_txt {
        padding: $padding-general;
        padding-bottom: 10%;
        color: $white;
        gap: 10px;
        display: flex;
        flex-direction: column;

        h1 {
          font-family: "Crimson Text", serif;
        }
      }

      .header_button-container {
        padding-left: $padding-general;
        padding-bottom: 10%;

        .header_button {
          background-color: $white;
          color: #377255;
          font-weight: 600;
          text-decoration: none;
          padding: 15px 40px;
          font-size: 20px;
          border-radius: 5px;
        }
      }
    }
  }

  @media (max-width: 420px) {
    .nav {
      .header_desktop_menu ul {
        display: none;
      }

      .header_icon img {
        display: block;
        cursor: pointer;
        margin-right: 10px;
      }

      .header_logo {
        max-width: 60%;
        margin-left: 5%;
      }
    }

    .hero {
      > div .header_txt {
        display: block;
      }
    }
  }

  @media (min-width: 768px) {
    .hero {
      flex-direction: row-reverse;
      justify-content: end;
      align-items: center;
      padding-left: $padding-general;
      padding-right: $padding-general;
      padding-bottom: $padding-general;
      gap: 100px;

      .header_img-container .header_img {
        max-width: 100%;
      }

      > div .header_txt h1 {
        font-size: 3rem;
        max-width: 80%;
      }
    }

    .nav {
      padding-right: 8%;
    }
  }
}
