<section class="features">
    <section class="feature feature--1">
      <div class="feature__image">
        <img class="feature__img" src="./images/group.png" alt="" />
      </div>

      <article class="feature__content">
        <h2 class="feature__title">
          Creamos tu web desde la raíz
        </h2>
        <p class="feature__text">
          Desde el diseño UX/UI hasta el desarrollo a medida, cultivamos soluciones digitales que conectan y crecen.
        </p>
        <a href="#" class="feature__button">Ver mas</a>
      </article>
    </section>

    <section class="feature feature--2">
      <div class="feature__image">
        <img class="feature__img" src="./images/group-2.png" alt="" />
      </div>

      <article class="feature__content">
        <h2 class="feature__title">
          Una web viva necesita cuidados
        </h2>

        <p class="feature__text">
          Nos encargamos del mantenimiento técnico para que tu sitio esté seguro, rápido y actualizado. Nos aseguramos de que todo funcione sin sorpresas.
        </p>

        <a href="#" class="feature__button">Ver mas</a>
      </article>
    </section>
  </section>

  