<section class="features">
    <section class="feature feature--1">
      <div class="feature__image">
        <img class="feature__img" src="./images/group.png" alt="" />
      </div>

      <article class="feature__content">
        <h2 class="feature__title">
          Lorem ipsum dolor sit amet consectetur
        </h2>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
          nemo hic quos, ab, dolor aperiam nobis cum est eos error psum,
          voluptate culpa nesciunt delectus ste?
        </p>
        <a href="" class="feature__button">Ver mas</a>
      </article>
    </section>

    <section class="feature feature--2">
      <div class="feature__image">
        <img class="feature__img" src="./images/group-2.png" alt="" />
      </div>

      <article class="feature__content">
        <h2 class="feature__title">
          Lorem ipsum dolor sit amet consectetur
        </h2>

        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
          nemo hic quos, ab, dolor aperiam nobis cum est eos error psum,
          voluptate culpa nesciunt delectus ste?
        </p>

        <a href="" class="feature__button">Ver mas</a>
      </article>
    </section>
  </section>