<header class="cabecera">
  <section class="nav">
    <div><img class="header_logo" src="./images/logo-floratech.png" /></div>

    <div class="header_desktop_menu">
      <ul>
        <li>Home</li>
        <li>Servicios</li>
        <li>Nosotros</li>
        <li>Contacto</li>
      </ul>
    </div>

    <div class="header_icon"><img src="./images/bars-solid.png" /></div>
  </section>
  <section class="hero">
    <div class="header_img-container">
      <img class="header_img" src="./images/fotoheader.png" />
    </div>
    <div>
      <div class="header_txt">
        <h3>FLORECE CON NOSOTRAS</h3>
        <h1>Diseñamos experiencias web tan únicas como una flor</h1>
        <p>
          En nuestra agencia de desarrollo web, cultivamos ideas frescas y las
          transformamos en sitios que crecen contigo. Mezclamos creatividad,
          tecnología y un toque floral para hacer crecer tu marca en el mundo
          digital.
        </p>
      </div>
      <div class="header_button-container">
        <a class="header_button" href="www.adalab.es">¿Empezamos?</a>
      </div>
    </div>
  </section>
</header>
