<header class="cabecera">
  <section class="nav">
    <div><img class="header_logo" src="./images/Adatech.png" /></div>

    <div class="header_desktop_menu">
      <ul>
        <li>Home</li>
        <li>Servicios</li>
        <li>Nosotros</li>
        <li>Contacto</li>
      </ul>
    </div>

    <div class="header_icon"><img src="./images/bars-solid.png" /></div>
  </section>
  <section class="hero">
    <div class="header_img-container">
      <img class="header_img" src="./images/fotoheader.png" />
    </div>
    <div>
      <div class="header_txt">
        <h3>WELCOME</h3>
        <h1>Lorem ipsum dolor sit amet consectetur</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
          nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum,
          voluptate culpa nesciunt delectus iste?
        </p>
      </div>
      <div class="header_button-container">
        <a class="header_button" href="www.adalab.es">Explora</a>
      </div>
    </div>
  </section>
</header>
