<section class="main__nosotras">
  <div class="main__nosotras-h2">
    <h2 class="main__nosotras-h2text">Nuestro equipo</h2>
  </div>
  <div class="main__nosotras-div">
    <img src="./images/marina.png" />
    <h2>Marina Boyano</h2>
    <h3>CRISANTEMO</h3>
  </div>
  <div class="main__nosotras-div">
    <img src="./images/sara.png" />
    <h2>Sara de Miguel</h2>
    <h3>JAZMÍN</h3>
  </div>
  <div class="main__nosotras-div">
    <img src="./images/sandra.png" />
    <h2>Sandra Marín</h2>
    <h3>ORQUÍDEA</h3>
  </div>
  <div class="main__nosotras-div">
    <img src="./images/maky.png" />
    <h2>Macarena Marquez</h2>
    <h3>GIRASOL</h3>
  </div>
  <div class="main__nosotras-div">
    <img src="./images/joana.png" />
    <h2>Joana Nunes</h2>
    <h3>TULIPÁN</h3>
  </div>
</section>
