@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'components/feature';
@use 'layout/footer';
@use 'pages/index';

* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: 'CrimsonText', sans-serif;
}

.main__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display:grid;
}

.Submit{
    background-color: black;
    color: white;
    border: none;
=======
>>>>>>> a8b8ce31c7bf5193f457323107e145bcfb6d447c
}